@import 'sass-bootstrap/lib/bootstrap';
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

body {
  background: #fafafa;
  padding-top: 80px;
  padding-bottom: 20px;
}

.lists {
  list-style-type: none;
  padding-left: 0px;
  li {
    background: #3276b1;
    padding: 10px;
    margin-top: 2px;
    a {
      color: white;
    }
  }
}

.todos {
  @extend .lists;
  li {
    background: #47a447;
  }
}

#todo-form {
  .form-group {
    width: 88.5%;
    margin-right: 5px;
  }
  margin-bottom: 15px;
}

#list-form {
  .form-group {
    width: 67%;
    margin-right: 5px;
  }
  margin-bottom: 15px;
}

.error-messages {
  color: red;
  padding: 10px;
}

.panel-body {
  form {
    input {
      width: 65%;
    }
  }
}

