<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="messages"></div>
      <div class="error-messages"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div id="lists"></div>
        </div>
        <div class="col-md-9">
          <div id="todos">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>